{
    "SlackClient":
    {
        "category": "WebService/Slack",
        "bg": [200, 50, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [220, 170, 90, 255],
        "port_bg": [80, 50, 80, 255],
        "port_text": [90, 180, 150, 255]
    },

    "SlackChannels":
    {
        "category": "WebService/Slack",
        "bg": [200, 50, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [220, 170, 90, 255],
        "port_bg": [80, 50, 80, 255],
        "port_text": [90, 180, 150, 255]
    },

    "SlackMessage":
    {
        "category": "WebService/Slack",
        "bg": [200, 50, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [220, 170, 90, 255],
        "port_bg": [80, 50, 80, 255],
        "port_text": [90, 180, 150, 255]
    },

    "SlackUploadFile":
    {
        "category": "WebService/Slack",
        "bg": [200, 50, 90, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [220, 170, 90, 255],
        "port_bg": [80, 50, 80, 255],
        "port_text": [90, 180, 150, 255]
    }
}
