{
    "GoogleMapClient":
    {
        "category": "WebService/GoogleMap",
        "bg": [87, 130, 188, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [200, 180, 90, 255],
        "port_bg": [80, 160, 100, 255],
        "port_text": [225, 225, 225, 255]
    },

    "GoogleMapFind":
    {
        "category": "WebService/GoogleMap",
        "bg": [87, 130, 188, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [200, 180, 90, 255],
        "port_bg": [80, 160, 100, 255],
        "port_text": [225, 225, 225, 255]
    },

    "GoogleMapPlaces":
    {
        "category": "WebService/GoogleMap",
        "bg": [87, 130, 188, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [200, 180, 90, 255],
        "port_bg": [80, 160, 100, 255],
        "port_text": [225, 225, 225, 255]
    },

    "GoogleMapURL":
    {
        "category": "WebService/GoogleMap",
        "bg": [87, 130, 188, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [200, 180, 90, 255],
        "port_bg": [80, 160, 100, 255],
        "port_text": [225, 225, 225, 255]
    }
}
