{
    "WebOpen":
    {
        "category": "WebService/Web",
        "bg": [120, 120, 120, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [120, 120, 120, 255],
        "port_text": [210, 210, 210, 255]
    },

    "WebDownload":
    {
        "category": "WebService/Web",
        "bg": [120, 120, 120, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [120, 120, 120, 255],
        "port_text": [210, 210, 210, 255]
    }
}
